.progress-circle {
  position: relative;
  width: 36px;
  height: 36px;
}

.circle-bg {
  stroke: #eee;
  stroke-width: 2.8;
}

.circle {
  stroke: #4caf50;
  stroke-width: 2.8;
  stroke-dasharray: 75, 100;
  stroke-linecap: round;
}

.activity {
  min-width: 600px;
  min-height: 75px;
}

.activity span {
  font-size: 1.2rem;
}

.vertical-line {
  border-left: 1px solid #dee2e6; /* Change color and width as needed */
  height: 55px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */

}

.login {
  min-width: 1000px;
}

.crossed-text {
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-thickness: 4px
}

.button-create {
  position: relative; /* Position the dropdown relative to its parent */
  display: inline-block;
}

.dropdown {
  position: relative; /* Position the dropdown relative to its parent */
  display: inline-block;
  float: right;
}

.weekCalendar {
  position: relative; /* Position the dropdown relative to its parent */
  display: inline-block;
}

.my-navbar {
  position: fixed;
}

.activities {
  margin-left: 280px;
}

.dropdown-item:hover{
  background-color: #d9d6d6;
}